<div class = "wrapper">
    <ul class="navigation">

  <li class="nav-item"><% for (var i = 0; i < categorieen.length; i++) { %>
   <a href="/categorieen/<%- i %>"><%- categorieen[i]%></a>
  <% } %></li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>

  <div class="site-wrap">
  <div class="container-fluid">

  <div id = "logo2"><img src ="http://static1.squarespace.com/static/58a389a629687f67e729b34b/58a38c98f7e0abc4f7a7d975/58ba161d5016e1f82f9af50a/1488637150872/dfdsfsdfcdsfc-528x396.jpg?format=1000w"></div>
